.nav {
  height: 100px;
  padding: 10px;
  background: rgb(1, 31, 36);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav ul li a {
  margin: 5px 15px;
}

.bal {
  border-radius: 2px;
  padding: 0.2rem;
  font-size: 1rem;
  color: turquoise;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
